*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.container{
    max-width: 1000px;
    margin: 30px auto 0 auto;
}

body{
    font-family: 'Montserrat', sans-serif;
}

header a{
    text-decoration: none;
    color: #929292;
}

#logo{
    height: 60px;
    padding-right: 15px;
    border-right: 3px solid #f1f1f1;
}

ul{
    list-style: none;
    padding-top: 30px;
}

li{
    display: inline-block;
    margin-right: 10px;
    font-weight: 400;
    font-size: 15px;
}

li:last-child{
    margin-right: 0;
}

main{
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

main h2{
    font-size: 25px;
    font-weight: 400;
}

main p{
    font-size: 15px;
    font-weight: 400;
}

.main-text{
    color: white;
    width: 60%;
    padding: 300px 0  60px 30px ;
}

article{
    padding-bottom: 30px;
}

article h1{
    font-size: 35px;
}

article h3{
    font-size: 14px;
    color: #919191 ;
    font-weight: 300;
}

article h4{
    font-size: 14px;
    font-weight: 400;
    padding: 15px 0 10px 0;
}

article p{
    color: #919191 ;
    font-size: 15px;
    font-weight: 400;
}

.pictures{
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    height: 160px;
}

.img-1{
    background-image: url("../img/img-1.jpg");  
}

.img-2{
    background-image: url("../img/banner-2.jpg");  
}

.img-3{
    background-image: url("../img/img-3.jpg");  
}

.box-lf, .box-ct, .box-rt, article, main {
    margin-top: 30px;
}

.box-lf{
    width: calc(20% - 15px);
    margin-right: 15px;
}

.box-ct{
    width: calc(60% - 30px);
    margin-left: 15px;
    margin-right: 15px;
}

.box-rt{
    width: calc(20% - 15px);
    margin-left: 15px;
}

footer{
    margin-top: 15px;
    text-align: center;
    padding-bottom: 15px;
}
.heart{
    color: red;
}

.layover{
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.2);
    border-radius: 10px;
  }